.flip-card {
    background-color: transparent;
    /* width: 30vw;
    height: 30vh; */
    width: 300px;
    height: 300px;
    cursor: pointer;  
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .flip-card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front,
  .flip-card-back {
    /* position: absolute;
    width: 100%;
    height: 100%; */
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 21vw;
    height: 39vh;
    border-radius: 1vw;
    border: 1px solid rgba(45, 206, 148, 0.1);
    background: linear-gradient(180deg, rgba(45, 206, 148, 0.1), rgba(45, 206, 148, 0.01));
    /* background: linear-gradient(180deg, rgb(25, 3, 78) 30%, rgba(22, 6, 63, 0.5) 58%); */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: transform 0.01s;

    backface-visibility: hidden;
  }
  
  .flip-card-front {
    /* background-color: #bbb; */
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flip-card-back {
    /* background-color: #2980b9; */
    color: white;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .flip-card img {
    /* top : 40%; */
    width: 18.5vw;
    height: 30vh;
    object-fit: cover;
    margin-left: 2.5vw;
    
    /* background-color: yellow; */
  }
  
  /* .theme_title {
    font-family: 'Libre Baskerville', sans-serif;
    color: #e4d6e1;
    text-shadow: #968998;
    margin-bottom: 0.7%;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 10px; 
    left: 50%;
    transform: translateX(-50%);
} */

.flip-card-front  h1 {
  font-size: 1.5vw;
  margin-right : 7.5vw;
}
.flip-card-front Header p {
  margin-left : 17vw;
}

.description_game {
  text-align: justify;
  margin-bottom: 2vw;
  padding-left:2vw;
  padding-right:2vw;
  color: rgba(45, 206, 148, 0.7);
  font-family: Montserrat;
}


.Play_button{
  position: absolute;
  bottom: 4vw;
  left: 8vw;
  /* top: 5vw; */
  width:5vw;
  height: 1.9vw;
  background-image: linear-gradient(to right, rgba(45, 206, 148, 0.7), rgba(45, 206, 148, 0.1));
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  display: block;
  outline: none;
  border: none;
  border-radius: 0.5vw;
  cursor: pointer;
  font-size: 0.9vw;
  font-family: mySecondFont;
}

.Play_button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}