header {
    text-align: center;
    margin-top: 2.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: violet; */
}

h1 {

    font-size: 2vw;
    font-family: 'Libre Baskerville', sans-serif;
    color: #ADE2CF;
    text-shadow:
        -1px -1px 0 rgba(45, 206, 148, 0.2),
        1px -1px 0 rgba(45, 206, 148, 0.2),
        -1px 1px 0 rgba(45, 206, 148, 0.2),
        1px 1px 0 rgba(45, 206, 148, 0.2),
        0 0 6px rgba(45, 206, 148, 0.4);
    margin-bottom: 0.7%;
    font-style: normal;
    font-weight: 600;
    width: 55vw;
    /* background-color: white; */
}

p {
    text-align: center;
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
    color: rgba(45, 206, 148, 0.2);
    text-shadow: 0px 0px 0px rgba(45, 206, 148, 0.4), 0px 0px 0px rgba(45, 206, 148, 0.4), 0px 0px 0px rgba(45, 206, 148, 0.4), 0px 0px 0px rgba(45, 206, 148, 0.4);
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}

/* Media query for screens smaller than 768px */
/* @media (max-width: 768px) {
} */
