.Authentification {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    height: 68.8vh;
    top: 51.9%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    border: 1px solid #6E107A;
    background: linear-gradient(180deg, rgba(16, 2, 54, 0.50) 0%, rgba(17, 2, 56, 0.00) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 20px;
}

Header{
    margin-top: -2.5%;
}

.qr-code {
    margin-top: 3%;
}

/* .Authentification .code-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 0;
} */


/* ======================================= Verification Code  =====================================*/

.Authentification .code-container {
    display: grid;
    grid-template-columns: repeat(6, 50px);
    grid-template-rows: auto auto;
    gap: 10px;
    align-items: center;
    justify-items: center;
    margin: 0.5% auto;
    grid-row-gap: 18px;
}

.verification_Code {
    grid-column: 1 / -1; 
    text-align: center;
    width: 24vw;
    margin: 0 auto;
    flex-shrink: 0;
    color: #B7B0C3;
    text-shadow: 0px 0px 0px #845DC0, 0px 0px 0px #845DC0, 0px 0px 0px #845DC0, 0px 0px 0px #845DC0;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    margin-top: 10px;
}

.Authentification .digits-grid {
    display: grid;
    grid-template-columns: repeat(6, 50px);
    gap: 10px;
    align-items: center;
    justify-items: center;
    max-width: 420px;
    margin: 0 auto;
}

.Authentification .digit-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 8px;
    font-size: 2rem;
    color: black;
}

.Authentification .digit-container input {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
    text-align: center;
    font-size: inherit;
    color: inherit;
}


/* ======================================= Button =====================================*/


  .warning-message {
    color: red;
    font-size: 14px;
    left: 0;
    margin-top: 15px ;
  }
  
  .Authentification button {
    margin: 20px 0;
    width: 100%;
    max-width: 300px;
    height: 5vh;
    background-color: #6E107A;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

/* ======================================= Media =====================================*/
@media (min-width: 1020px) {
    .Authentification {
        max-width: 70%;
    }
    .auth-description {
        max-width: 100%; 
    }
}

@media (max-width: 1020px) {
    .Authentification {
        max-width: 70%;
    }
    .auth-description {
        max-width: 100%; 
    }
}

@media (max-width: 768px) {
    .Authentification {
        max-width: 70%;
    }
    .auth-description {
        max-width: 100%; 
    }
}

@media (max-width: 576px) {
    .Authentification .digit-container {
        width: 40px;
        height: 40px;
        display: flex;
        flex-wrap: nowrap;
        /* font-size: 1.5rem; */
    }
}
