.sidebar{
  background-image: linear-gradient(-90deg, rgba(45, 206, 148, 0.01), rgba(45, 206, 148, 0.1));
  border: 2.5px solid #2DCE94;
  border-radius: 1vw;
  width: 4.336vw;
  height: 30.109vw;
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  align-items:center;
  margin-left: 20%;
  /* background-color: tomato; */
}

.menu {
    display: flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    height: 24vw;
    margin: 0;
    padding:0;
  }

.selected {
    filter: brightness(2.3);
}

.profile-pic{
  width: 2.510vw;
  height: 2.510vw;
}

.profile-pic.selected {
  filter: none;
  border-radius: 50%;
  border: 1px solid white;
}

.home-icon{
  width: 2.510vw;
  height: 1.800vw;
}

.chat-icon{
  width: 2.406vw;
  height: 1.800vw;
}
.leaderboard-icon{
  width: 2.510vw;
  height: 1.800vw;
}

.setting-icon{
  width: 2.302vw;
  height: 1.800vw;
}

.logout-icon{
  width: 2.198vw;
  height: 1.800vw;
}